button {
  width: 5rem;
  height: 2rem;
  background-color: transparent;
  border: 2px solid #808080;
  margin: 1rem;
  color: #808080;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 5px;

  &:hover {
    background-color: #808080;
    color: white;
  }
  &:active {
    transform: translateX(3px) translateY(3px);
  }
}
#timer {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
#message {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  h1 {
    padding: 2rem 3rem;
    background-color: white;
  }
}
