/**,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.nav {
  display: inline-block;
  width: 70%;
}
.sidebar {
  display: none;
}
.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  margin: 0 auto;

  border: 1px solid black;
}
.pieces {
}
img {
  max-width: 100%;
}

.slider-board-arrow {
  position: absolute;

  z-index: 2;
  width: 50px;
}
#arrowUp,
#arrowRight,
#arrowDown,
#arrowLeft {
  position: absolute;

  z-index: 2;
  width: 50px;
}

#arrowUp {
  top: -40px;
  left: 75px;
}
#arrowRight {
  top: 75px;
  right: -20px;
}
#arrowDown {
  bottom: -20px;
  left: 75px;
}
#arrowLeft {
  top: 75px;
  left: -30px;
}
*/
