//fonts
$font-size: 16px;

//colors
$color-white: #ffffff;
$color-light-blue: #defffc;
$color-pink: #e02262;
$color-light-pink: #dbafc1;
$color-dark-pink: #86626e;

$marron: #924a55;
$brown: #733a3a;

//margins
$top-margin: 3rem 10rem;

//breaks
$phone-break: 400px;
$tablet-break: 450px;
$big-tablet-break: 800px;
$small-laptop-break: 1000px;
$laptop-break: 1300px;
