* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  --marron: #924a55;
  --brown: #733a3a;
  font-family: "Shadows Into Light", cursive;
  font-family: "Amatic SC", cursive;
  font-family: "Reenie Beanie", cursive;
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 300;
  font-size: 20px;
  line-height: 10px;
  color: var(--marron);
  text-align: center;
}
body {
  background: rgba(151, 202, 185, 0.1);
  background: linear-gradient(
      rgba(151, 202, 185, 0.4),
      rgba(151, 202, 185, 0.4)
    ),
    url(../img/bck.jpg);
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}
#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#audio {
  position: fixed;
  top: 0.5rem;
  left: 2rem;
}
#audio img {
  width: 20px;
}

.board {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#timer {
  position: fixed;
  top: 0.8rem;
  right: 2.5rem;
}
#points {
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
}
.board--message__won {
  overflow: auto;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 100;
  overflow: visible;
  top: 0px;
}
#you-won {
  width: 40vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  border: 3px rgba(255, 255, 255, 0.2) solid;
  border-radius: 3px;
}
footer {
  width: 100vw;
  height: 3rem;
  padding: 1rem;
  background-color: #224c4ecf;
  color: white;
}
