.bark--board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.bark--board img {
  width: 20vw;
  height: 20vw;

  border-radius: 10px;

  -webkit-box-shadow: 5px 5px 8px 0px rgba(56, 55, 55, 0.52);
  -moz-box-shadow: 5px 5px 8px 0px rgba(56, 55, 55, 0.52);
  box-shadow: 5px 5px 8px 0px rgba(56, 55, 55, 0.52);
}
.bark--board img:hover {
  transform: scale(1.2);
  transition-duration: 0.8s;
}
.playing {
  transform: scale(1.2);
  transition-duration: 0.8s;
}
.playing-0 {
  border: 2px solid rgba(0, 68, 255, 0.35);
}
.playing-1 {
  border: 2px solid rgba(255, 0, 0, 0.35);
}
.playing-2 {
  border: 2px solid rgba(85, 9, 172, 0.349);
}
.playing-3 {
  border: 2px solid rgba(216, 203, 15, 0.35);
}
.playing-4 {
  border: 2px solid rgba(4, 143, 148, 0.35);
}
.playing-5 {
  border: 2px solid rgba(148, 4, 117, 0.35);
}
.playing-6 {
  border: 2px solid rgba(233, 180, 8, 0.35);
}

/*
h2 {
  margin-bottom: 10px;
}

.board--pieces__bark {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  text-align: center;
  max-width: 80vw;
}
.board--piece__puppy {
  max-width: 15vw;
  border-radius: 10px;
  border: 1px solid #0000008a;
  -webkit-box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.75);

  margin: 20px;
}
.board--piece__puppy:hover {
  transform: scale(1.3);
  transition-duration: 0.8s;
}
.board--piece__puppy__playing {
  transform: scale(1.3);
  transition-duration: 0.8s;
}

.board--piece__puppy__playing-0 {
  border: 2px solid rgba(0, 68, 255, 0.35);
}
.board--piece__puppy__playing-1 {
  border: 2px solid rgba(255, 0, 0, 0.35);
}
.board--piece__puppy__playing-2 {
  border: 2px solid rgba(85, 9, 172, 0.349);
}
.board--piece__puppy__playing-3 {
  border: 2px solid rgba(216, 203, 15, 0.35);
}
.board--piece__puppy__playing-4 {
  border: 2px solid rgba(4, 143, 148, 0.35);
}
.board--piece__puppy__playing-5 {
  border: 2px solid rgba(148, 4, 117, 0.35);
}
.board--piece__puppy__playing-6 {
  border: 2px solid rgba(233, 180, 8, 0.35);
}

.board--menu {
  text-align: center;
}
button.board--button {
  height: 2rem;
  margin: 1rem;
  padding: 0rem 2rem;
  cursor: pointer;
  background-color: #f5e4c36e;
  border: 3px groove rgba(151, 202, 185, 0.3);
  border: 3px outset rgba(151, 202, 185, 0.3);
}
button.board--button:active {
  border: 3px inset rgba(151, 202, 185, 0.3);
}
*/
