#board__empty h1 {
  margin: 10vh auto;
}
#board__empty ul {
  margin: 0 auto;
}
#board__empty li {
  display: block;
  min-width: 10vh;
  margin: 2rem;
  padding: 1rem 3rem;
  font-size: 2rem;
  cursor: pointer;
}
#board__empty li:hover {
  /* background: rgba(123, 160, 148, 0.59); */
  border: 1px solid #924a55;
}
