.board-memo--menu {
  margin: 20px;
}
.board-memo--menu form {
  margin: 20px;
}
.board-memo--menu form label {
  margin-right: 8vw;
  margin-left: 10px;
}
.board-memo--menu form input {
  margin: 5px;
}

.board-memo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 5vh;
}
.piece {
  position: relative;
}
.board-memo img {
  max-width: 15vw;
  border-radius: 5px;
  position: absolute;
}
.memo-hidden {
  display: hidden;
}
.board-memo__card {
  position: relative;
}
.front {
  position: absolute;
}
.card {
  position: absolute;
}
[id="23"] {
  display: none;
}
