.board__slider {
  margin: 0 auto;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60vw;
  background-image: url("../img/slider/bck.jpg");
  border: 5px double #ffdeada6;
  border-radius: 30px;
  overflow: hidden;
}
.board__slider--spot img {
  max-width: 20vw;
}
.board__slider--spot {
  position: relative;
  width: 20vw;
  height: 20vw;
}

.board__slider--arrow {
  position: absolute;
  width: 10vw;
  z-index: 10;
}
.board__slider--arrow-up {
  top: -5vh;
  left: 5vw;
}
.board__slider--arrow-right {
  top: 7vh;
  right: -4vw;
}
.board__slider--arrow-down {
  bottom: -5vh;
  left: 5vw;
}
.board__slider--arrow-left {
  top: 7vh;
  left: -4vh;
}
.board__slider--arrow-visible {
  display: inline;
}
.board--message__hidden {
  display: none;
}
