.board-memo--menu {
  margin: 20px;
}
.board-memo--menu form {
  margin: 20px;
}
.board-memo--menu form label {
  margin-right: 8vw;
  margin-left: 10px;
}
.board-memo--menu form input {
  margin: 5px;
}
.memo-nav input {
  margin: 0.5rem;
  margin-left: 3rem;
}

.board-memo {
  display: grid;
  justify-content: center;
  grid-template-columns: 7rem 7rem 7rem 7rem;
  grid-row-gap: 5vh;
  grid-column-gap: 5vw;
}
.piece {
  position: relative;
  min-height: 7rem;
}
.board-memo img {
  position: absolute;
  height: 100%;
  border-radius: 5px;
  left: 0;
}
.memo-hidden {
  display: hidden;
}
.board-memo__card {
  position: relative;
}
.front {
  position: absolute;
}
.card {
  position: absolute;
}
[id="23"] {
  display: none;
}
