.button {
  padding: 0.7rem 2rem;
  background-color: transparent;
  border: 1px solid var(--brown);
  margin: 1rem;
  text-transform: uppercase;
  color: var(--brown);
  font-family: inherit;
  font-size: 1rem;
}
.button:hover {
  background-color: var(--brown);
  color: #ffffffbf;
}
.slider--board {
  margin: 0 auto;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60vw;
  background-image: url("../../img/slider/bck.jpg");
  border: 5px double #ffdeada6;
  border-radius: 30px;
  overflow: hidden;
}
.slider--spot {
  position: relative;
  width: 20vw;
  height: 20vw;
}
.slider--spot img {
  max-width: 20vw;
}

.slider--arrow {
  position: absolute;
  width: 10vw;
  z-index: 10;
}
.slider--arrow__up {
  top: -5vh;
  left: 5vw;
}
.slider--arrow__right {
  top: 7vh;
  right: -4vw;
}
.slider--arrow__down {
  bottom: -5vh;
  left: 5vw;
}
.slider--arrow__left {
  top: 7vh;
  left: -4vh;
}
.slider--arrow__visible {
  display: inline;
}
.board--message__hidden {
  display: none;
}
